<h1 align="center">Hi :wave:, it's 周上行Ryer here!</h1>

<br />

<p>
	<img align="right" src="https://komarev.com/ghpvc/?username=zymelaii&label=Profile%20views&color=0e75b6&style=flat" alt="zymelaii" />
	<b>A student majoring in Computer Science and Technology from China in NWPU</b>
</p>

<br />

<img align="right" src="https://github-readme-stats.vercel.app/api/top-langs?username=zymelaii&show_icons=true&locale=en&layout=compact&count_private=true&hide=html,tex,vim%20script,perl,assembly,nushell,cmake" alt="zymelaii's most used languages" />
<ul>
	<li>:telescope: I'm currently working on <a href="https://github.com/zymelaii/ubook-rs">ubook-rs</a> [WIP]</li>
	<li>:seedling: I'm currently learning indie game development</li>
	<li>:pencil: I irregularly write articles on <a href="https://cnblogs.com/zymelaii">cn-blogs</a> and <a href="https://blog.csdn.net/qq_37569077">CSDN</a></li>
	<li>:pushpin: C++ is the best and worst language :angry::rage::triumph:</li>
</ul>

## My coding stuffs

![](https://img.shields.io/badge/-C-46a2f1?logo=c&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-C++-46a2f1?logo=cplusplus&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-Python-46a2f1?logo=python&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-Rust-46a2f1?logo=rust&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-JavaScript-46a2f1?logo=javascript&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-Java-46a2f1?logo=java&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-C%23-46a2f1?logo=csharp&style=flat-square&logoColor=white) <!-- languages -->
![](https://img.shields.io/badge/-LaTeX-46a2f1?logo=latex&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-Markdown-46a2f1?logo=markdown&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-Node.js-46a2f1?logo=nodedotjs&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-Qt_6-46a2f1?logo=qt&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-OpenGL-46a2f1?logo=opengl&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-GitHub_Actions-46a2f1?logo=github-style=flat-square&actions&logoColor=white) <!-- skills -->
![](https://img.shields.io/badge/-Windows-46a2f1?logo=windows&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-Arch_Linux-46a2f1?logo=archlinux&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-Chrome-46a2f1?logo=googlechrome&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-VSCode-46a2f1?logo=visualstudiocode&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-Sublime_Text_4-46a2f1?logo=sublimetext&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-Obsidian-46a2f1?logo=obsidian&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-Vim-46a2f1?logo=vim&style=flat-square&logoColor=white) <!-- editors -->
![](https://img.shields.io/badge/-Git-46a2f1?logo=git&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-CMake-46a2f1?logo=cmake&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-Gradle-46a2f1?logo=gradle&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-NPM-46a2f1?logo=npm&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-Alacritty-46a2f1?logo=alacritty&style=flat-square&logoColor=white)
![](https://img.shields.io/badge/-Docker-46a2f1?logo=docker&style=flat-square&logoColor=white) <!-- toolkits -->

## GitHub stats

<div align="center">
	<img src="https://github-readme-stats.vercel.app/api?username=zymelaii&show_icons=true&locale=en&count_private=true&custom_title=zymelaii's%20GitHub%20Stats" alt="zymelaii's GitHub stats" />
</div>

## GitHub streak stats

<div align="center">
	<img src="http://github-readme-streak-stats.herokuapp.com?user=zymelaii&theme=tokyonight-duo&border_radius=5&locale=am&card_width=500&border=AA36EB51" alt="zymelaii's streak stats" />
</div>

---

<div align="center">Contact me with <b>melaiiryer@gmail.com</b></div>
